<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.title != "Privacy Policy" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>
    <div class="contact">
      <a class="svg-icon--link email" href="mailto:contact@rahilarora.com">
        {% include svg-icons/email.html %}
      </a>
      <a class="svg-icon--link github" href="{{ site.github.url }}" target="_blank">
        {% include svg-icons/github.html %}
      </a>
      <a class="svg-icon--link stackoverflow" href="{{ site.stackoverflow.url }}" target="_blank">
        {% include svg-icons/stackoverflow.html %}
      </a>
      <a class="svg-icon--link twitter" href="{{ site.twitter.url }}" target="_blank">
        {% include svg-icons/twitter.html %}
      </a>
      <a class="svg-icon--link linkedin" href="{{ site.linkedin.url }}" target="_blank">
        {% include svg-icons/linkedin.html %}
      </a>
    </div>

    <p class="copyright"><a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">&copy; {{ site.time | date: '%Y' }}. All rights reserved.</a></p>
    <p class="privacy"><a href={{site.privacy_url}}>Privacy Policy</a></p>
  </div>
</div>
